﻿@page
@model DefinexCase.Pages.CartModel
@{
    decimal? SubTotal = 0;
    foreach (var item in Model.CartList.Items)
    {
        SubTotal += item.TotalPrice;
    }
}

<!-- Cart Page Start -->
<div class="page-section section pt-90 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.CartList.Items)
                                {

                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img src="@item.Product.ImageFile" alt="Product"></a></td>
                                        <td class="pro-title"><a href="#">@item.Product.Name</a></td>
                                        <td class="pro-price"><span>@item.Product.UnitPrice ₺</span></td>
                                        <td class="pro-price"><span> @item.Quantity</span></td>
                                        <td class="pro-subtotal"><span>@item.TotalPrice ₺</span></td>
                                        <td class="pro-remove"><a onclick="return RemoveFromCart(@Model.CartList.Id,@item.Id)"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>

                </form>

                <div class="row">

                    <div class="col-lg-6 col-12 mb-15">
                        <!-- Calculate Shipping -->
                        <div class="calculate-shipping">
                            <h4>Existing Offers</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-12 col-12 mb-25">
                                        <ul>
                                            <li><b>xThreeBuy</b> - 15% discount will be applied for 3 purchases of the same product.</li>
                                            <li><b>BoneGone</b> - Marked products will have a buy 1 get 1 free option.</li>
                                            <li><b>BigBag</b> - For baskets of 1000 TL or more, 20% discount will be applied to the cheapest product in the basket.</li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Discount Coupon -->
                        <div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Apply Code">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-40 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span>@SubTotal ₺</span></p>
                                <p>Shipping Cost <span>00.00 ₺</span></p>
                                <p>Offer <span>@Model.Offer.OfferName</span></p>
                                <h2>Grand Total <span>@Model.Offer.BestPrice</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button class="checkout-btn">Checkout</button>
                                <button class="update-btn">Update Cart</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->





@section RemoveFromCart{
    <script>
        function RemoveFromCart(cardId, cardItemId) {


            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: "GET",
                        url: "Cart?Handler=RemoveFromCart",
                        data: { cartItemId: cardItemId }
                    })
                        .done(function (msg) {

                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            setTimeout(function () {
                                location.reload();
                            }, 1000);

                        }).fail(function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'A error created',
                                showConfirmButton: false,
                                timer: 3000
                            })
                        });




                }
            })








        }
    </script>
}



<script>
    //For now, there is no very good method for counting.
    setInterval(function () {

        $.ajax({
            method: "GET",
            url: "Index?Handler=CartCounter",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        })
            .done(function (msg) {

                $('#CartCounter').html(msg)
            }).fail(function () {
                Swal.fire({
                    icon: 'error',
                    title: '',
                    showConfirmButton: false,
                    timer: 3000
                })
            });


    }, 2000);


</script>
